[Unit]
Description=Geth Ethereum Client
After=multi-user.target

[Service]
Type=simple
ExecStart=/root/.scripts/geth
Restart=always
RestartSec=20
TimeoutStartSec=60
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
