[Unit]
Description=Geth Ethereum Client
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/geth --light --rpc --unlock 0x8aFBD9c3D794eD8DF903b3468f4c4Ea85be953FB --password /root/.scripts/p.txt
Restart=always
RestartSec=20
TimeoutStartSec=60
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
